link(rel="stylesheet", href="css/main.css")//- style main file
link(rel="stylesheet", href="css/all.min.css")//- fontAwosem
link(rel="preconnect" href="https://fonts.googleapis.com")//- google font
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)//- google font
link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet")//- google font