link(rel="stylesheet", href="css/main.css")//- style main file
link(rel="stylesheet", href="css/all.min.css")//- fontAwosem
link(rel="preconnect" href="https://fonts.googleapis.com")//- google font
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)//- google font
ink(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans|Public+Sans|Roboto|Source+Sans+Pro&display=swap")//- google font