.header {
  background-color: white;
  padding: 15px;
  i.toggle-sidebar {
    cursor: pointer;
  }
}

.notification-container {
  color: #555;
  margin-inline-start: 1.25rem;
  i.toggle {
    cursor: pointer;
    padding: 0.625rem;
    background-color: #f9f9f9f9;

    border-radius: 50%;
  }
  .dropdown-menu {
    min-width: 37.5rem;
    border: unset;
    top: 0.625rem !important;
    padding: 0;
    box-shadow: 0 0 10px #ddd;
    &::before {
      content: "";
      position: absolute;
      top: -1.25rem;
      left: 0.563rem;
      border-style: solid;
      border-width: 0.625rem;
      border-color: transparent transparent #333 transparent;
    }
    .noti-head,
    .noti-content {
      padding: 0.975rem;
    }
    .noti-head {
      background-color: #333;
      color: white;
      span {
        float: right;
      }
    }
    .noti-content {
      ul {
        li {
          padding: 0.625rem;
          i {
            background-color: #eee;
            padding: 0.625rem;
            width: 2.813rem;
            height: 2.813rem;
            line-height: 1.625rem;
            text-align: center;
            border-radius: 50%;
            margin-inline-end: 0.625rem;
				position: relative;
				top: -0.125rem;
          }
        }
      }
    }
    .noti-foot {
      a {
        border-top: 1px solid #eee;
        padding: 0.625rem;
      }
    }
  }
}
